/* Style index */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    background-color: #252525;
    padding: 10px;
    color: white;
    text-align: center;
}

ol {
    font-size: 18px;
}

/* Styling for headings and paragraphs in smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
    p {
        font-size: 16px;
    }
}

/* Styling for the single slide */
.single-slide {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 300px;
}

/* Styling for the title in the slide text */
.slide-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

/* Styling for the description in the slide text */
.slide-text p {
    font-size: 20px;
}

/* Styling for navigation links */
.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 110%;
}

/* Styling for the slide image */
.single-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styling for the slide text */
.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    text-shadow: -2px 4px 4px black;
}

/* Styling for the navigation menu */
.nav {
    list-style-type: none;
    display: flex;
    background-color: #333;
    padding: 0;
    justify-content: center;
}

.nav-item {
    margin: 1%;
}

/* Active/hover link styling */
.nav-link.active, .nav-link:hover {
    background-color: #555;
    font-size: 125%;
}

/* Header styles */
header {
    background-color: #252525;
    padding: 10px;
    color: white;
    text-align: center;
}

/* Custom horizontal rule styling */
.custom-hr {
    background-color: black;
    height: 2px;
    width: 80px;
    border: none;
    margin-left: 0;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 10px;
}

/* About section styling */
.about-section {
    background-color: #f3f3f3;
    padding: 20px;
    text-align: center;
}

.about-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-description {
    font-size: 18px;
}

/* Contact section styling */
.contact-section {
    padding: 20px;
    background-color: #e8e8e8;
}

.contact-title {
    font-size: 24px;
}

.contact-description {
    font-size: 16px;
    margin-top: 10px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.method-title {
    font-weight: bold;
    font-size: 18px;
}

.method-description {
    font-size: 16px;
}

/* Team section styling */
.team-section {
    background-color: #f3f3f3;
    padding: 20px;
}

.team-title {
    font-size: 24px;
}

.team-member {
    margin-top: 20px;
}

.member-name {
    font-weight: bold;
    font-size: 18px;
}

.member-role {
    font-size: 16px;
}

.centered {
    text-align: center;
}

.s2 {
    text-align: center;
}

/* Custom horizontal rule styling for team section */
.custom-hrs {
    background-color: black;
    height: 2px;
    width: 380px;
    border: none;
    text-align: center;
}

/* Forum registration form styling */
.registration-form {
    text-align: center;
}
